html{
    width: 100%;
    
}
body{
    width: 100%;
    overflow: hidden;
    margin: 0px;
}

p{
    margin:0px;
    user-select: none;
    padding-top:10vh;
    text-align: center;
    font-size: 10vw;
    font-family: "Work Sans";

}
#date{
    margin:0px;
    user-select: none;
    text-align: center;
    font-size: 3vw;
    font-family: "Work Sans";
}
.github-link{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    user-select: none;
}
button{
    width:40px;
    height:40px;
    padding: 0;
    border: none;
    background: gray;
    border-radius: 5px;
}
img{
    width:40px;
    height:40px;
    border-radius: 5px;
}